.button {
  background-color: var(--cr-color-button-confirm);
  color: var(--cr-color-white);
  height: 56px;
  width: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.button:hover:not(.buttonDisabled) {
  opacity: 0.9;
}

.buttonDisabled {
  background-color: var(--cr-color-button-disabled);
  opacity: 1; /* Remove opacity reduction, keep it solid */
  cursor: not-allowed;
}

.buttonText {
  color: var(--cr-color-white);
  font-size: var(--cr-font-size-body);
  font-weight: var(--cr-font-weight-semibold);
}

.buttonTextDisabled {
  color: var(--cr-color-white);
  font-size: var(--cr-font-size-body);
  font-weight: var(--cr-font-weight-semibold);
}