.container {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
}

.groupedAvatars {
  width: 100%;
  max-width: 340px; 
  height: auto; /* Let it scale proportionally */
  object-fit: contain; 
}